

.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* background-image: url("https://yt3.ggpht.com/ytc/AKedOLR-PeE-sjM2G3806Es3t_weZVsB5Cj6Iz_iryVd=s900-c-k-c0x00ffffff-no-rj"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2020/04/20/21/29/world-map-5070024_960_720.jpg");  */
    /* background-size: 100% 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("../../img/WhatsApp\ Image\ 2021-11-29\ at\ 21.47.45.jpeg"); */
    background-image: url("../../Resources/Background-image.png");
    /* background: linear-gradient(0deg, #00000088 30%,#ffffff44 100%, transparent);   */
  }

  .btn_ing {
    background-color: transparent;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    border-radius: 9999px;
    border: #fff solid 3px;
    padding: 25px;
    cursor: pointer;
    transition-duration: 0.4s;
    /* margin-top: 1px; */
    margin-top: 35%;
    /* margin-left: 20%; */
    box-shadow: #2f2f2d 1px 0 10px;
    text-shadow: #181817 2px 0 10px; 
}

.landingPage h1{
  color: white;
  flex-direction: column;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 80px;
  text-align: center;
  margin-top: 10%;
  text-shadow: #2f2f2d 2px 0 10px; 
}

.btn:hover {
    background-color: #fff;
    color: #220F00;
    transition-delay: 0.2s;
    transition: 0.8s;
}